*{
    margin: 0px;
    padding: 0px;
    font-family:  'Times New Roman', Times, serif; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
.header{
            font-size: 25px;
        }
        .nav{
            display: flex;
            padding: 18px 30px;
            justify-content: space-between;
            background-color: black;
            align-items: center;
        }
        .nav h1 span{
           color: rgb(230, 59, 127); 
        }
        .nav .ul {
            display: flex;
            gap: 28px;
        }
        .nav .ul li{
            list-style-type: none;
        }
        .nav .ul li a{
            text-decoration: none;
            color: white;
            position: relative;
        }
        .nav .ul li a::after{
            background: rgb(230, 59, 127);
            content: '';
            width: 0;
            height: 3px;
            bottom: -6px;
            transition: 0.5s;
            position: absolute;
            left: 0;
        }
        .nav .ul li a:hover::after{
            width: 100px;
        }
        .bar{
            display: none; 
            font-size: 28; 
            color: white;    
        }
        /* section 2 home page          */

.home {
        position: relative;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        background-image: url(images/h-background.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 70px 10% 0;
      }
      .hom-content {
        max-width: 600px;
      }
      .hom-content h3 {
        font-weight: 700px;
        font-size: 32px;
        text-align: center;
      }
      .hom-content h3 span{
        color: rgb(230, 59, 127);
      }
      .hom-content h3:nth-of-type(2){
        margin-bottom: 30px;
      }
      .hom-content h1 {
        font-weight: 700px;
        font-size: 56px;
        margin: -3px 0;
        text-align: center;
      }
      .hom-content h1 span {
        color: rgb(230, 59, 127);
      }
      .hom-content h1 .typed {
        color: rgb(230, 59, 127);
      }
      .hom-content p {
        font-weight: 500px;
        font-size: 20px;
        text-align: center;
      }

      .home-img .img-box{
      position: relative;
      width: 32vw;
      height: 32vw;
      /* background: red; */
     border-radius: 50%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .home-img .img-box::before,
    .home-img .img-box::after{
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      background: conic-gradient(transparent,transparent,transparent,rgb(230, 59, 127));
    }
    .home-img .img-box .img-item{
      position: relative;
      width: 100%;
      height: 100%;
      background: black;
      border: .1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      z-index: 1;
    }
    .home-img .img-box .img-item img{
      position: absolute;
      display: block;
      width: 85%;
      object-fit: cover;
      top: 20px;
      mix-blend-mode: lighten;
    }


        #about{
        padding: 80px 0px ;
        color: aliceblue;
      }
      .cont{
        display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      .div2img{
        flex-basis: 38%;
      }
      .div2img img{
        width: 100%;
        border-radius: 15px;
      }
      .abme{
        flex-basis: 57%;

      }
      .subtitle{
        font-size: 57px;
        font-weight: 600;
        color:white;
      }
      .tab-titles{
        display: flex;
        margin: 20px 0 40px;
      }
      .tab-link{
        margin-right: 50px; 
        font :18px;
        font-weight:500px;
        cursor:pointer;
        position:relative;
      }
     .tab-link::after{
        content: '';
        width: 0;
        height: 3px;
        background-color: rgb(230, 59, 127);
        position: absolute;
        left:0; 
        bottom:-8px;
        transition: .5s; 
     }
     .tab-link.Skill::after{
        width: 50%;
     }
     .tabtab ul li{
        list-style: none;
        margin: 10px 0;

     }
     .tabtab ul li span{
        color:rgb(230, 59, 127);
        font-size: 14px;
     }
     .tabtab {
        display: none;
     }
     .tabtab.skl {
        display: block;
    }
      
    /* closing about section and starts mywork */

    #service{
        padding: 30px o;
    }
    .serv-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
    }
    .serv-list div{
        background-color:#262626;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-right: 10px;
        transition: background 0.5s,transform o.5s;/*up and down div */
    }
    .serv-list div i{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .serv-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .serv-list div a{
        text-decoration: none;
        color:white;
        font-size: 12px;
        margin-top: 20px;
        display: inline-block;
    }
    .serv-list div:hover{
        background: rgb(253, 155, 194);
        transform: translateY(-10px);
    }

     /* closing my works and starting portfolio */
     
    #portfolio{
        padding: 50px 0;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width:100%;
        border-radius:10px;
        display: block;
        transition: transform 0.5s;
    }
    .lyr{
        height: 0;
        width:100%;
        border-radius: 10px;
        background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        transition: height 0.5s;
    }
    .lyr h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .lyr a{
      margin-top: 20px;
      color: #ff004f; 
      text-decoration: none; 
      font-size:18px;
      line-height:60px;
      background:white;
      width:60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .lyr{
        height: 100%;
    }
    .btn{
        display: block;
        margin:50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: background 0.5s;
    }
    .btn:hover{
        background: #ff004f;
    }    

/* closing portfolio and starting contact   */

    .me {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    }
    .secdiv1{
        flex-basis: 35%;
    }
    .secdiv2{
        flex-basis: 60%;
    }
    .secdiv1 p{
        margin-top: 30px;
    }
    .secdiv1 p i{
        color: #ff004f;
        margin-right: 15px;
        font-size:25px ;
    }
    .hcon{
        margin-top: 30px;
    }
    .hcon a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: antiquewhite;
        display: inline-block;
        transition: transform 0.5s;
    }
    .hcon a:hover{
        color: #ff004f;
        transform: translateY(-5px);    
    }
    .btn.btn-2{
        display: inline-block;
        background-color: #ff004f;
    }
    .secdiv2 form{
        width: 100%;
        
    }
    form input,
    form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    background-color: #262626;
    }

    form .btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    }

/* closing contact and starting copyright    */

    .copy{
        width: 100%;
        text-align: center;
        padding: 25px 0px;
        background-color: #262626;
        font-weight: 300;
        margin-top: 20px;
        font-size: 30px;
    }
    .copy i{
       color: #ff004f;
    }

    /* media quary */
        @media (max-width:600px) {
            html{
                scroll-behavior: smomoth;
            }
            .nav ul{
                position:absolute;
                top: 65px;
                right: 0px;
                left: 0px;
                flex-direction: column;
                text-align: right;
                background-color: black;
                gap: 15px;
                overflow: hidden;
            }
            .nav ul li{
                right: 10px;
            }
            .bar{
                display: block;
            }
            #ul{
                transition: all 0.5s;
            }
            .hom-content h3 {
                font-weight: 500px;
                font-size: 25px;
            }
            .subtitle{
                font-size: 40px;
            }
            .div2img, .abme{
             flex-basis:100%; 
            }
            .div2img{
                margin-bottom: 30px;
            }
            .abme{
                font-size: 14px;
            }
            .tab-link{
               font-size: 16px;
               margin-right: 20px; 
            }
            .secdiv1, .secdiv2{
                flex-basis: 100%;
            }
            .work-list{
                display: block;
                gap: 5px;
            }
            .copy{
                font-size: 14px;
            }
        }